.ref-count-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
}

div span {
    font-size: 15px;
    font-weight: 500;
    grid-column: 1 / 3;
}