#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100%;
}

.global-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.task-1 {
  grid-column: 1 / 2;
}

.task-2 {
  grid-template-columns: 2 / 3;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
